html,
body {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  background: #eaeaea;
  font-size: 16px;
}

.conteiner {
  width: 1120px;
  margin: 0 auto;
  background: #fbfcfd;
  box-shadow: 0 0 15px #9d9999;
}

.logo {
  display: block;
}

.main__logo {
  margin: 0 auto;
  padding: 250px 0 120px;
}

/*header*/
.header__conteiner {
  max-width: 930px;
  padding: 45px 95px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__item {
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.nav__sub__list {
  width: 150px;
  height: 180px;
  font-size: 12px;

  background: #fbfcfd;
  opacity: 0.6;
  display: none;

  position: absolute;
  top: 15px;
  left: -40px;
}

.sub__list {
  position: relative;
}

.sub__list:hover .nav__sub__list {
  display: block;
}

.sub__item {
  padding-top: 20px;
}

.sub__item:hover {
  text-decoration: underline;
  color: #000000;
}

/*First content*/

.first__section {
  margin-top: 86px;
  padding: 50px 0 50px 95px;
  width: 1028px;
  background-image: url(/style/img/bg-1.png);
}

.first__section__article {
  width: 40%;
}

.first__section__title {
  color: #921026;
  font-size: 24px;
}

.first__section__buttom {
  margin-top: 25px;
  width: 105px;
  height: 28px;
  font-size: 12px;
  background: #f7f8f8;
  border: 1px solid #c2c2c2;
}

/*conteiner second__section*/

.second__section {
  margin-top: 85px;
  box-shadow: 0 0 15px #9d9999;
  display: flex;
  background-color: #fff;
  justify-content: space-evenly;
  padding: 40px 0 73px;
}

.second__section__item {
  width: 30%;
  font-size: 18px;
}

.second__section__comments {
  padding-top: 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.second__icon {
  position: relative;
  padding-left: 15px;
  padding-right: 10px;
}
.second__icon::after {
  content: "";
  display: block;
  height: 11px;
  position: absolute;
  left: 0;
  top: -1px;
}
.clock__icon::after {
  width: 11px;
  background-image: url(/style/img/Clock\ Icon.png);
}
/*
.line__icon::after {
  width: 1px;
  height: 14px;
  background-color: #6f6f6f;
}
*/
.comment__icon::after {
  width: 13px;
  background-image: url(/style/img/Comment\ Icon.png);
}

.view__icon::after {
  top: 1px;
  height: 9px;
  width: 13px;
  background-image: url(/style/img/View\ Icon.png);
}
/*footer*/

.footer__menu {
  max-width: 930px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2f2f2f;
  padding: 72px 95px;
  color: #939393;
  font-size: 12px;
}

.footer__lemon {
  position: relative;
}

.footer__img {
  position: absolute;
  right: 0;
}

.footer__link {
  color: #909090;
}

.footer-item:not(:last-child) {
  margin-right: 15px;
}
