.section4 {
  margin-top: 140px;
  @include large {
    margin-top: 0;
  }
}
.container-section4 {
  display: flex;
  justify-content: space-between;
  box-shadow: none;
  @include large {
    display: none;
  }
}

.section4__box {
  background: #fff;
  max-width: 519px;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 15px #9d9999;
  padding: 22px 47px 50px 33px;
  height: 519px;
}

.section4-box-text {
  position: relative;
  padding-bottom: 100px;
}
.section4-box-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url(../img/section4-box1.png) center center no-repeat;
}
.section4__box-title {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  border-bottom: 2px solid #dddddd;
}

.section4__box-wrapper {
  max-width: 130px;
  width: auto;
  position: relative;
  left: 15px;
}
.section4-wrapper__item1 {
  text-align: center;
  font-size: 30px;
}
.section4-wrapper__item2 {
  text-align: center;
  font-size: 16px;
  color: #a9a9a9;
}
.section4__box-content {
  padding-top: 25px;
  display: flex;
}
.section4__box-img {
  display: block;
  height: 100%;
  width: 100%;
  margin-right: 20px;
}
.section4__box-line {
  margin: 12px 0 16px;
}
.section4__box-name {
  font-size: 24px;
}
.section4__box-reviews {
  font-size: 20px;
  padding: 15px 0 20px 0;
  border-top: 2px solid #dddddd;
}
.section4__box-comment {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  &::after {
    content: "";
    display: block;
    width: 165px;
    height: 65px;
    background: url(../img/Signature.png) center center no-repeat;
    position: absolute;
    right: 47px;
  }
}
