$gap-x: 40px;

.second-container {
  background-color: #fff;
  margin-top: 85px;
  padding: 40px 43px;

  @include big {
    padding-right: 0;
  }

  @include medium {
    margin-top: 20px;
  }
  @include smoll {
    margin-top: 50px;
    padding: 0 0;
  }
}

.second__card {
  display: block;
  max-width: 313px;
  position: relative;

  @include big {
    max-width: 290px;
  }
  @include smoll {
    max-width: 320px;
    width: 100%;
  }
}

.second__list {
  gap: $gap-x;
}

.second__item {
  font-size: 18px;

  @include big {
    width: calc(50% - #{$gap-x});
    display: flex;
    justify-content: center;
  }

  @include smoll {
    width: 100%;
    .second__item-img {
      width: 100%;
    }
    .second__card-text {
      padding: 0 20px;
    }
  }
}

.second__comments {
  font-size: 12px;
  display: flex;
  align-items: center;
}
.comments__icon {
  position: relative;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 12px;
}
.comments__icon::after {
  content: "";
  display: block;
  height: 11px;
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.clock-icon::after {
  width: 11px;
  background-image: url(../img/Clock-Icon.png);
}

.comment-icon::after {
  width: 13px;
  background-image: url(../img/Comment-Icon.png);
}

.view-icon::after {
  top: 1px;
  height: 9px;
  width: 13px;
  background-image: url(../img/View-Icon.png);
}
