.section4__wrap {
  background: none;
  box-shadow: none;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
.section4__box {
  width: 290px;
  background: #fff;
  box-shadow: 0 0 10px #9d9999;
  margin-bottom: 50px;
}
.section4__box-header {
  border-bottom: #dddddd solid 2px;
  width: 85%;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  color: #055555;
  padding: 25px 0 15px 0;
}
.box__inner {
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.box__inner-img {
  padding: 0 15px;
  position: relative;
  display: block;
  min-width: 58px;
  min-height: 58px;

  border: #eeeeee solid 3px;
  border-radius: 50%;
  line-height: 1;
  margin: 0 25px;
}
.box__img-fon {
  display: block;
  width: 100%;
}
.box__img {
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.box-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
}

.section4__column {
  display: flex;
  flex-direction: column;
}
.section4__box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box__title-2 {
  font-size: 20px;
  color: #055555;
  padding: 15px 20px;
}
.box__title-sub1 {
  font-size: 20px;
  color: #000000;
}
.box__header-img {
  display: block;
}

.inner__img-box11 {
  border: none;
}
.box__inner-img::after {
  content: url(../img/Shape-6.png);
  display: block;
  position: absolute;
  top: 0;
  right: -3px;
}
.desc-circle2::after {
  content: url(../img/Shape-5.png);
  top: -3px;
  right: -3px;
}
.desc-circle3::after {
  content: url(../img/Shape-7.png);
  top: 26px;
  right: -3px;
}
.text-sircle {
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.box__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 15px 0 25px 0;
}
.box__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #585858;
  font-weight: 700;
}
.box__link:active {
  color: #000000;
}

/*box21__content*/
.box21__content {
  display: flex;
  padding: 0 20px 20px 20px;
}
.box21__content-img {
  margin-right: 15px;
}
.box21__content-text {
  text-decoration: none;
  color: #000000;
}
.box21__content-text1 {
  font-size: 12px;
  padding-bottom: 5px;
}
.box21__content-span {
  color: #656565;
}

.box22__links-container {
  padding: 13px 15px 15px 10px;
}
.box__22-link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #000000;
  padding: 0px 0px 15px 8px;
}
/*calendar__container*/

.calendar__container {
  padding: 25px;
}
.calendar-title {
  font-size: 18px;
  text-align: center;
  position: relative;
}
.calendar-title::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-top: #555555 solid 2px;
  border-left: #555555 solid 2px;
  transform: rotate(135deg);

  position: absolute;
  right: 0;
  top: 5px;

  cursor: pointer;
}
.calendar-title::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-bottom: #555555 solid 2px;
  border-right: #555555 solid 2px;
  transform: rotate(135deg);
  position: absolute;
  left: 0;
  top: 5px;

  cursor: pointer;
}
table {
  width: 100%;
  padding-top: 10px;
  font-size: 14px;
  line-height: 2;
}
.calendar-days {
  text-decoration: underline;
}
.last-month {
  color: #a5a5a5;
}

/*section4__column3*/

.box__title-sub2 {
  font-size: 32px;
  font-weight: 700;
  color: #921026;
}

/*box3-1*/
.box3-1 {
  background: url(../img/bgg-section31png.png) center center no-repeat;
  background-size: cover;
}
.box3-1__container {
  padding: 25px 20px 120px 20px;
}
.box__inner3-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-box3-1 {
  padding: 0;
  margin-top: 20px;
}
.box3-1__title {
  font-size: 22px;
  padding-bottom: 17px;
}

/*Box 3-2*/
